.root {
    -fx-background-image: url("/images/coach.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.label {
    -fx-text-fill: white;
    -fx-background-color: #ADD8E6;
}

.button {
    -fx-background-color: #ADD8E6;
    -fx-text-fill: white;
}